html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-size: 1rem;
    line-height: 1.6;
    background-color: #ecf0f1;
    color: #666;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Nav Styles */

header {
    background-color: #2c3e50;
    padding: 2rem 0;
}

nav {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu > li, .menu > a {
    display: inline-block;
}

.menu li {
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px 1.5rem;
    transition: background-color .22s ease, color .22s ease;
}

.menu a:hover {
    background-color: #f34949;
    color: #fff;
}

/* Submenu Level 1 Styles */

.submenu {
    position: absolute;
    background-color: #2c3e50;
    width: 140px;
    left: 0;
    /* Hiding The Submenu Initially */
    display: none;
}

/* Submenu Level 2 Styles  */

.submenu2 {
    position: absolute;
    left: 100%;
    width: 140px;
    top: 0;
    background-color: #2c3e50;
    /* Hiding The Submenu Initially */
    display: none;
}

/* Showing the Menus on Hover */

.menu li:hover > .submenu {
    display: block;
    animation: slideup .3s ease; /* Adding the animations */
}

.submenu li:hover > .submenu2 {
    display: block;
    animation: slideleft .3s ease;
}

/* Animation Keyframes */

@keyframes slideup {
    0% {
        opacity: 0;
        transform: translateY(18px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideleft {
    0% {
        opacity: 0;
        transform:  translateX(18px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}